################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Jeux.VC.db
/Jeux.VC.VC.opendb
/GameOfLife.VC.db
/Pong.zip
